.notes-item {
    display: inline-block;
    background: #22324e;
    color: #BDD1F8;
    padding: 20px;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: -8px 12px 20px 0 rgba(11, 26, 51, 0.53);
}

.notes-item h2 {
    margin: 0 0 20px;
}

.notes-item footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #464D5C;
    font-size: 13px;
}

.notes-item span {
    color: #ffffff;
}