.app {
  display: flex;
  flex-direction: column;
}

.app__main {
  flex: 1;
  display: flex;
}

.app__container {
  flex: 1;
  padding: 30px 50px;
  background: #1A233A;
}

.add-note-button {
  background: #344769;
  color: #ffffff;
  padding: 10px;
  border-radius: 2px;
  margin-bottom: 20px;
  font-family: inherit;
}

.add-note-button.opened {
  background: #a73247;
}