* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body,
#root,
.app {
  height: 100%;
}

button,
button:active,
button:focus,
input[type="button"],
input[type="button"]:active,
input[type="button"]:focus,
input[type="submit"],
input[type="submit"]:active,
input[type="submit"]:focus {
  outline: 0;
  border: 0;
  cursor: pointer;
}

textarea {
  resize: none;
}